<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/create_view_master.css' %}" />
  </head>
  <body>
    <form action="/create_shop">
      <input type="submit" id="btn_delete" value="Create Shop" />
    </form>

    <form action="/create_staff">
      <input type="submit" id="btn_delete" value="Create Staff" />
    </form>
    <form action="/create_rank">
      <input type="submit" id="btn_delete" value="Create Rank" />
    </form>
    <form action="/create_attendance">
      <input type="submit" id="btn_delete" value="Create Attendance" />
    </form>
    <form action="/create_income">
      <input type="submit" id="btn_delete" value="Create Income" />
    </form>
    <form action="/create_payment">
      <input type="submit" id="btn_delete" value="Create Payment" />
    </form>
    <form action="/create_film">
      <input type="submit" id="btn_delete" value="Create Film" />
    </form>
    <form action="/create_genre">
      <input type="submit" id="btn_delete" value="Create Genre" />
    </form>
    <form action="/create_equipment">
      <input type="submit" id="btn_delete" value="Create Equipment" />
    </form>
    <form action="/create_film_review">
      <input type="submit" id="btn_delete" value="Create Film Review" />
    </form>
    <form action="/main">
        <input type="submit" class='btn_no' value="Go Back" />
      </form>

  </body>
</html>
