<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/detail_view_master.css' %}" />
  </head>
  <body>
    <div class="main">
      {{ shop.shop_name }} <br />
      {{ shop.adress }} <br />
      {{ staff.staff_name }} <br />
      {{ staff.living_adress }} <br />
      {{ staff.gender }} <br />
      {{ staff.age }} <br />
      {{ staff.staff_rating }} <br />
      {{ rank.rank_name }} <br />
      {{ payment.payment_amount }} <br />
      {{ attendance.attendance_amount }} <br />
      {{ income.income_amount }} <br />
      {{ genre.genre_name }} <br />
      {{ film.film_name }} <br />
      {{ film.copies_amount }} <br />
      {{ film.film_cost }} <br />
      {{ equipment.equipment_name }} <br />
      {{ film_review.review_amount }} <br />
      {{ film_review.review_score }} <br />
    </div>
  </body>
</html>
