<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/delete_master.css' %}" />
  </head>
  <body>
    <div class="main">
      <form method="POST">
        {% csrf_token %} Do you really want to delete this attendance data?
        <p></p>
        <input type="submit" class='btn' value="Yes" />
      </form>
      <form action="/list_view/">
        <input type="submit" class="btn_no" value="No" />
      </form>
    </div>
  </body>
</html>
