#btn_delete {
    background-color: #014589;
    border: none;
    color: rgb(200, 201, 199);
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

body {
    text-align: center;
    color: #ffa000;
    background-color: #911e42;
}

.btn_no {
    background-color: #b6ab0c;
    border: none;
    color: rgb(9, 18, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}